### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [ ]:
!pip install pandas

In [1]:
import pandas as pd

In [2]:
# Dependencies and Setup

# File to Load (Remember to Change These)
pymoli_file = ('04-Pandas_Instructions_HeroesOfPymoli_Resources_purchase_data.csv')

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(pymoli_file)
purchase_data.head(3)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88

In [3]:
SN_count = len(purchase_data["SN"].unique())
SN_count

576

## Player Count

* Display the total number of players

In [4]:
total_players = pd.DataFrame({'Total Players': [SN_count]})
total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
item_count = len(purchase_data['Item ID'].unique())
item_count

183

In [6]:
avg_price = purchase_data['Price'].mean()
avg_price

3.050987179487176

In [7]:
total_revenue = purchase_data['Price'].sum()
total_revenue

2379.77

In [8]:
total_purchases = len(purchase_data['Purchase ID'])
total_purchases

780

In [9]:
purchases_df = pd.DataFrame({'Total of Unique Items': [item_count],
                             'Average Price': [str(round(avg_price,2))],
                            'Total Purchases' : [total_purchases],
                            'Total Revenue': [total_revenue]})
purchases_df

   Total of Unique Items Average Price  Total Purchases  Total Revenue
0                    183          3.05              780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [10]:
gender_count = purchase_data['Gender'].value_counts()
gender_count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [11]:
male_players = gender_count['Male']
male_players

652

In [12]:
female_players = gender_count['Female']
female_players

113

In [13]:
misc_players = gender_count['Other / Non-Disclosed']
misc_players

15

In [14]:
gender_df = pd.DataFrame({
    'Total Count': [(male_players), (female_players), (misc_players)],
    'Total Percentage': [str(round((male_players)*100/(total_purchases),2)), 
                         str(round((female_players)*100/(total_purchases),2)), 
                         str(round((misc_players)*100/(total_purchases),2))]}, 
                            index=['Male','Female', 'Non-Disclosed'])
gender_df

               Total Count Total Percentage
Male                   652            83.59
Female                 113            14.49
Non-Disclosed           15             1.92


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
gender_group = purchase_data.groupby('Gender')
purchase_count = gender_group['SN'].count()
avg_purchase_value = gender_group['Price'].mean()
total_value = gender_group['Price'].sum()

In [16]:
pd.DataFrame({
    'Purchase Count' : purchase_count,
    'Average Purchase Price' : round(avg_purchase_value,2),
    'Total Purchase Value': total_value,
    'Average Total Purchase Per Person' : round(total_value/purchase_count,2)
})

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
Gender,,,,
Female,113,3.20,361.94,3.20
Male,652,3.02,1967.64,3.02
Other / Non-Disclosed,15,3.35,50.19,3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [17]:
max_age=purchase_data['Age'].max()
bins = [0, 9, 14, 19, 24, 29, 34, 39, max_age]
df=pd.DataFrame(purchase_data)
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [36]:
df["Age Group"] = pd.cut(df["Age"], bins, labels=group_names)

bin_data_age = pd.DataFrame({'Total Count' : df.groupby("Age Group")["Purchase ID"].count(),
'Percentage' : round((df.groupby("Age Group")["Purchase ID"].count()*100)/(total_purchases),2),
                        }, index=group_names)
bin_data_age

       Total Count  Percentage
<10             23        2.95
10-14           28        3.59
15-19          136       17.44
20-24          365       46.79
25-29          101       12.95
30-34           73        9.36
35-39           41        5.26
40+             13        1.67

In [51]:
df["Age Range"] = pd.cut(df["Age"], bins, labels=group_names)
total_purchase_value = df.groupby(['Age Range']).sum()['Price'].rename('Total Purchase Value')
purchase_count_age = df.groupby(['Age Range']).count()['Price'].rename('Purchase Count')
average_value = df.groupby(['Age Range']).mean()['Price'].rename('Average Purchase Value')
purchase_count_age

Age Range
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Purchase Count, dtype: int64

In [52]:
avg_per_person = total_purchase_value/purchase_count_age
avg_per_person

Age Range
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
dtype: float64

In [ ]:
#Had a really hard time trying this one, couldn't figure it out (the calculations by age groups)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
SN_unique = purchase_data['SN'].unique()
SN_group = purchase_data.groupby('SN')
item_id_sn = purchase_data['SN'].value_counts()
avg_sn_price = SN_group['Price'].mean()
total_sn_value = SN_group['Price'].sum()


df_item_id = pd.DataFrame({'Purchase Count': (item_id_sn),
                           'Average Price' : (avg_sn_price),
                           'Total Value' : (total_sn_value)
                          },index=SN_unique)
df_item_id.head()

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
#Had a really hard time trying this one, couldn't figure it out

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
final_df = df_item_id.sort_values('Total Value', ascending=False)
final_df.head()