In [1]:
# Dependencies and Setup
import csv 
from config import api_key
import pandas as pd
import numpy as np
import requests
import time
import json
import pymongo
from sqlalchemy import create_engine
import datetime as dt
url = "https://api.worldweatheronline.com/premium/v1/past-weather.ashx"
units = "metric"

In [2]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [3]:
csv_file = 'Resources/2018_airline_delay_causes.csv'
airline_data_df = pd.read_csv(csv_file, delimiter = ',')
airline_data_df.head()

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,Unnamed: 21
0,2018,1,MQ,Envoy Air,BIS,"Bismarck/Mandan, ND: Bismarck Municipal",5.0,3.0,1.00,0.06,...,0.00,0.0,0.0,104.0,54.0,1.0,49.0,0.0,0.0,NaN
1,2018,1,MQ,Envoy Air,BNA,"Nashville, TN: Nashville International",110.0,21.0,7.17,1.16,...,5.92,3.0,0.0,897.0,344.0,37.0,226.0,0.0,290.0,NaN
2,2018,1,MQ,Envoy Air,BOI,"Boise, ID: Boise Air Terminal",32.0,8.0,0.22,0.35,...,1.82,0.0,0.0,353.0,9.0,18.0,233.0,0.0,93.0,NaN
3,2018,1,MQ,Envoy Air,BPT,"Beaumont/Port Arthur, TX: Jack Brooks Regional",63.0,11.0,1.75,1.08,...,5.19,3.0,0.0,657.0,83.0,34.0,130.0,0.0,410.0,NaN
4,2018,1,MQ,Envoy Air,BUF,"Buffalo, NY: Buffalo Niagara International",31.0,12.0,0.82,3.00,...,1.55,0.0,0.0,484.0,27.0,136.0,207.0,0.0,114.0,NaN

In [4]:
airline_data_df.columns

Index(['year', ' month', 'carrier', 'carrier_name', 'airport', 'airport_name',
       'arr_flights', 'arr_del15', 'carrier_ct', ' weather_ct', 'nas_ct',
       'security_ct', 'late_aircraft_ct', 'arr_cancelled', 'arr_diverted',
       ' arr_delay', ' carrier_delay', 'weather_delay', 'nas_delay',
       'security_delay', 'late_aircraft_delay', 'Unnamed: 21'],
      dtype='object')

In [5]:
new_airline_data_df = airline_data_df[['year',' month','carrier','carrier_name','airport','airport_name','arr_flights','arr_cancelled', ' arr_delay', ' carrier_delay','weather_delay']].copy()

new_airline_data_df.head(10)

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_cancelled,arr_delay,carrier_delay,weather_delay
0,2018,1,MQ,Envoy Air,BIS,"Bismarck/Mandan, ND: Bismarck Municipal",5.0,0.0,104.0,54.0,1.0
1,2018,1,MQ,Envoy Air,BNA,"Nashville, TN: Nashville International",110.0,3.0,897.0,344.0,37.0
2,2018,1,MQ,Envoy Air,BOI,"Boise, ID: Boise Air Terminal",32.0,0.0,353.0,9.0,18.0
3,2018,1,MQ,Envoy Air,BPT,"Beaumont/Port Arthur, TX: Jack Brooks Regional",63.0,3.0,657.0,83.0,34.0
4,2018,1,MQ,Envoy Air,BUF,"Buffalo, NY: Buffalo Niagara International",31.0,0.0,484.0,27.0,136.0
5,2018,1,MQ,Envoy Air,BWI,"Baltimore, MD: Baltimore/Washington Internatio...",112.0,3.0,2198.0,567.0,101.0
6,2018,1,MQ,Envoy Air,BZN,"Bozeman, MT: Bozeman Yellowstone International",36.0,0.0,227.0,43.0,27.0
7,2018,1,MQ,Envoy Air,CAE,"Columbia, SC: Columbia Metropolitan",64.0,1.0,611.0,120.0,150.0
8,2018,1,MQ,Envoy Air,CHO,"Charlottesville, VA: Charlottesville Albemarle",53.0,3.0,696.0,123.0,6.0
9,2018,1,MQ,Envoy Air,CHS,"Charleston, SC: Charleston AFB/International",63.0,12.0,291.0,108.0,1.0

In [6]:
new_airline_data_df = new_airline_data_df.rename(columns={' month':'month'})
new_airline_data_df.head()

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_cancelled,arr_delay,carrier_delay,weather_delay
0,2018,1,MQ,Envoy Air,BIS,"Bismarck/Mandan, ND: Bismarck Municipal",5.0,0.0,104.0,54.0,1.0
1,2018,1,MQ,Envoy Air,BNA,"Nashville, TN: Nashville International",110.0,3.0,897.0,344.0,37.0
2,2018,1,MQ,Envoy Air,BOI,"Boise, ID: Boise Air Terminal",32.0,0.0,353.0,9.0,18.0
3,2018,1,MQ,Envoy Air,BPT,"Beaumont/Port Arthur, TX: Jack Brooks Regional",63.0,3.0,657.0,83.0,34.0
4,2018,1,MQ,Envoy Air,BUF,"Buffalo, NY: Buffalo Niagara International",31.0,0.0,484.0,27.0,136.0

In [7]:
new_airline_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20231 entries, 0 to 20230
Data columns (total 11 columns):
year              20231 non-null int64
month             20231 non-null int64
carrier           20231 non-null object
carrier_name      20231 non-null object
airport           20231 non-null object
airport_name      20231 non-null object
arr_flights       20214 non-null float64
arr_cancelled     20214 non-null float64
 arr_delay        20214 non-null float64
 carrier_delay    20214 non-null float64
weather_delay     20214 non-null float64
dtypes: float64(5), int64(2), object(4)
memory usage: 1.7+ MB

In [8]:
new_airline_data_df[['City','State/Airport']] = new_airline_data_df.airport_name.str.split(expand=True,pat=',')
new_airline_data_df.head()

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_cancelled,arr_delay,carrier_delay,weather_delay,City,State/Airport
0,2018,1,MQ,Envoy Air,BIS,"Bismarck/Mandan, ND: Bismarck Municipal",5.0,0.0,104.0,54.0,1.0,Bismarck/Mandan,ND: Bismarck Municipal
1,2018,1,MQ,Envoy Air,BNA,"Nashville, TN: Nashville International",110.0,3.0,897.0,344.0,37.0,Nashville,TN: Nashville International
2,2018,1,MQ,Envoy Air,BOI,"Boise, ID: Boise Air Terminal",32.0,0.0,353.0,9.0,18.0,Boise,ID: Boise Air Terminal
3,2018,1,MQ,Envoy Air,BPT,"Beaumont/Port Arthur, TX: Jack Brooks Regional",63.0,3.0,657.0,83.0,34.0,Beaumont/Port Arthur,TX: Jack Brooks Regional
4,2018,1,MQ,Envoy Air,BUF,"Buffalo, NY: Buffalo Niagara International",31.0,0.0,484.0,27.0,136.0,Buffalo,NY: Buffalo Niagara International

In [9]:
new_airline_data_df[['State', 'Airport']] = new_airline_data_df['State/Airport'].str.split(expand=True,pat= ':')
new_airline_data_df

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_cancelled,arr_delay,carrier_delay,weather_delay,City,State/Airport,State,Airport
0,2018,1,MQ,Envoy Air,BIS,"Bismarck/Mandan, ND: Bismarck Municipal",5.0,0.0,104.0,54.0,1.0,Bismarck/Mandan,ND: Bismarck Municipal,ND,Bismarck Municipal
1,2018,1,MQ,Envoy Air,BNA,"Nashville, TN: Nashville International",110.0,3.0,897.0,344.0,37.0,Nashville,TN: Nashville International,TN,Nashville International
2,2018,1,MQ,Envoy Air,BOI,"Boise, ID: Boise Air Terminal",32.0,0.0,353.0,9.0,18.0,Boise,ID: Boise Air Terminal,ID,Boise Air Terminal
3,2018,1,MQ,Envoy Air,BPT,"Beaumont/Port Arthur, TX: Jack Brooks Regional",63.0,3.0,657.0,83.0,34.0,Beaumont/Port Arthur,TX: Jack Brooks Regional,TX,Jack Brooks Regional
4,2018,1,MQ,Envoy Air,BUF,"Buffalo, NY: Buffalo Niagara International",31.0,0.0,484.0,27.0,136.0,Buffalo,NY: Buffalo Niagara International,NY,Buffalo Niagara International
5,2018,1,MQ,Envoy Air,BWI,"Baltimore, MD: Baltimore/Washington Internatio...",112.0,3.0,2198.0,567.0,101.0,Baltimore,MD: Baltimore/Washington International Thurgo...,MD,Baltimore/Washington International Thurgood M...
6,2018,1,MQ,Envoy Air,BZN,"Bozeman, MT: Bozeman Yellowstone International",36.0,0.0,227.0,43.0,27.0,Bozeman,MT: Bozeman Yellowstone International,MT,Bozeman Yellowstone International
7,2018,1,MQ,Envoy Air,CAE,"Columbia, SC: Columbia Metropolitan",64.0,1.0,611.0,120.0,150.0,Columbia,SC: Columbia Metropolitan,SC,Columbia Metropolitan
8,2018,1,MQ,Envoy Air,CHO,"Charlottesville, VA: Charlottesville Albemarle",53.0,3.0,696.0,123.0,6.0,Charlottesville,VA: Charlottesville Albemarle,VA,Charlottesville Albemarle
9,2018,1,MQ,Envoy Air,CHS,"Charleston, SC: Charleston AFB/International",63.0,12.0,291.0,108.0,1.0,Charleston,SC: Charleston AFB/International,SC,Charleston AFB/International
10,2018,1,MQ,Envoy Air,CID,"Cedar Rapids/Iowa City, IA: The Eastern Iowa",158.0,2.0,1323.0,363.0,194.0,Cedar Rapids/Iowa City,IA: The Eastern Iowa,IA,The Eastern Iowa
11,2018,1,MQ,Envoy Air,CLE,"Cleveland, OH: Cleveland-Hopkins International",200.0,11.0,2043.0,744.0,99.0,Cleveland,OH: Cleveland-Hopkins International,OH,Cleveland-Hopkins International
12,2018,1,MQ,Envoy Air,CLL,"College Station/Bryan, TX: Easterwood Field",112.0,5.0,990.0,332.0,9.0,College Station/Bryan,TX: Easterwood Field,TX,Easterwood Field
13,2018,1,MQ,Envoy Air,CLT,"Charlotte, NC: Charlotte Douglas International",65.0,4.0,625.0,98.0,58.0,Charlotte,NC: Charlotte Douglas International,NC,Charlotte Douglas International
14,2018,1,MQ,Envoy Air,CMH,"Columbus, OH: John Glenn Columbus International",453.0,16.0,8247.0,1949.0,1789.0,Columbus,OH: John Glenn Columbus International,OH,John Glenn Columbus International
15,2018,1,MQ,Envoy Air,CMI,"Champaign/Urbana, IL: University of Illinois/W...",194.0,12.0,2968.0,549.0,624.0,Champaign/Urbana,IL: University of Illinois/Willard,IL,University of Illinois/Willard
16,2018,1,MQ,Envoy Air,COU,"Columbia, MO: Columbia Regional",60.0,1.0,845.0,137.0,95.0,Columbia,MO: Columbia Regional,MO,Columbia Regional
17,2018,1,MQ,Envoy Air,CRP,"Corpus Christi, TX: Corpus Christi International",6.0,0.0,250.0,171.0,4.0,Corpus Christi,TX: Corpus Christi International,TX,Corpus Christi International
18,2018,1,MQ,Envoy Air,CVG,"Cincinnati, OH: Cincinnati/Northern Kentucky I...",372.0,12.0,4356.0,697.0,658.0,Cincinnati,OH: Cincinnati/Northern Kentucky International,OH,Cincinnati/Northern Kentucky International
19,2018,1,MQ,Envoy Air,CWA,"Mosinee, WI: Central Wisconsin",83.0,2.0,991.0,271.0,4.0,Mosinee,WI: Central Wisconsin,WI,Central Wisconsin
20,2018,1,MQ,Envoy Air,DAY,"Dayton, OH: James M Cox/Dayton International",49.0,4.0,379.0,56.0,32.0,Dayton,OH: James M Cox/Dayton International,OH,James M Cox/Dayton International
21,2018,1,MQ,Envoy Air,DBQ,"Dubuque, IA: Dubuque Regional",89.0,7.0,1027.0,118.0,100.0,Dubuque,IA: Dubuque Regional,IA,Dubuque Regional
22,2018,1,MQ,Envoy Air,DCA,"Washington, DC: Ronald Reagan Washington National",58.0,2.0,386.0,27.0,0.0,Washington,DC: Ronald Reagan Washington National,DC,Ronald Reagan Washington National
23,2018,1,MQ,Envoy Air,DFW,"Dallas/Fort Worth, TX: Dallas/Fort Worth Inter...",4491.0,152.0,48316.0,11983.0,7471.0,Dallas/Fort Worth,TX: Dallas/Fort Worth International,TX,Dallas/Fort Worth International
24,2018,1,MQ,Envoy Air,DSM,"Des Moines, IA: Des Moines International",111.0,2.0,1649.0,509.0,231.0,Des Moines,IA: Des Moines International,IA,Des Moines International
25,2018,1,MQ,Envoy Air,DTW,"Detroit, MI: Detroit Metro Wayne County",113.0,11.0,1287.0,322.0,36.0,Detroit,MI: Detroit Metro Wayne County,MI,Detroit Metro Wayne County
26,2018,1,MQ,Envoy Air,ELP,"El Paso, TX: El Paso International",32.0,1.0,362.0,32.0,81.0,El Paso,TX: El Paso International,TX,El Paso International
27,2018,1,MQ,Envoy Air,EVV,"Evansville, IN: Evansville Regional",59.0,5.0,470.0,40.0,0.0,Evansville,IN: Evansville Regional,IN,Evansville Regional
28,2018,1,MQ,Envoy Air,EWR,"Newark, NJ: Newark Liberty International",58.0,4.0,948.0,87.0,67.0,Newark,NJ: Newark Liberty International,NJ,Newark Liberty International
29,2018,1,MQ,Envoy Air,FAR,"Fargo, ND: Hector International",142.0,3.0,1424.0,449.0,107.0,Fargo,ND: Hector International,ND,Hector International
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20201,2018,12,YX,Republic Airline,MSN,"Madison, WI: Dane County Regional-Truax Field",20.0,0.0,203.0,57.0,0.0,Madison,WI: Dane County Regional-Truax Field,WI,Dane County Regional-Truax Field
20202,2018,12,YX,Republic Airline,MSP,"Minneapolis, MN: Minneapolis-St Paul Internati...",447.0,1.0,3500.0,632.0,265.0,Minneapolis,MN: Minneapolis-St Paul International,MN,Minneapolis-St Paul International
20203,2018,12,YX,Republic Airline,MSY,"New Orleans, LA: Louis Armstrong New Orleans I...",197.0,2.0,1435.0,341.0,4.0,New Orleans,LA: Louis Armstrong New Orleans International,LA,Louis Armstrong New Orleans International
20204,2018,12,YX,Republic Airline,MYR,"Myrtle Beach, SC: Myrtle Beach International",31.0,0.0,27.0,0.0,0.0,Myrtle Beach,SC: Myrtle Beach International,SC,Myrtle Beach International
20205,2018,12,YX,Republic Airline,OKC,"Oklahoma City, OK: Will Rogers World",111.0,2.0,1428.0,246.0,0.0,Oklahoma City,OK: Will Rogers World,OK,Will Rogers World
20206,2018,12,YX,Republic Airline,OMA,"Omaha, NE: Eppley Airfield",205.0,2.0,2314.0,557.0,99.0,Omaha,NE: Eppley Airfield,NE,Eppley Airfield
20207,2018,12,YX,Republic Airline,ORD,"Chicago, IL: Chicago O'Hare International",1186.0,6.0,8864.0,2072.0,420.0,Chicago,IL: Chicago O'Hare International,IL,Chicago O'Hare International
20208,2018,12,YX,Republic Airline,ORF,"Norfolk, VA: Norfolk International",133.0,0.0,1175.0,484.0,0.0,Norfolk,VA: Norfolk International,VA,Norfolk International
20209,2018,12,YX,Republic Airline,PBI,"West Palm Beach/Palm Beach, FL: Palm Beach Int...",32.0,0.0,171.0,5.0,0.0,West Palm Beach/Palm Beach,FL: Palm Beach International,FL,Palm Beach International
20210,2018,12,YX,Republic Airline,PHL,"Philadelphia, PA: Philadelphia International",1280.0,9.0,9069.0,1945.0,214.0,Philadelphia,PA: Philadelphia International,PA,Philadelphia International
20211,2018,12,YX,Republic Airline,PIT,"Pittsburgh, PA: Pittsburgh International",634.0,2.0,5281.0,1297.0,43.0,Pittsburgh,PA: Pittsburgh International,PA,Pittsburgh International
20212,2018,12,YX,Republic Airline,PNS,"Pensacola, FL: Pensacola International",60.0,1.0,714.0,194.0,0.0,Pensacola,FL: Pensacola International,FL,Pensacola International
20213,2018,12,YX,Republic Airline,PVD,"Providence, RI: Theodore Francis Green State",98.0,0.0,509.0,53.0,0.0,Providence,RI: Theodore Francis Green State,RI,Theodore Francis Green State
20214,2018,12,YX,Republic Airline,PWM,"Portland, ME: Portland International Jetport",61.0,1.0,754.0,119.0,1.0,Portland,ME: Portland International Jetport,ME,Portland International Jetport
20215,2018,12,YX,Republic Airline,RDU,"Raleigh/Durham, NC: Raleigh-Durham International",594.0,23.0,5184.0,1315.0,180.0,Raleigh/Durham,NC: Raleigh-Durham International,NC,Raleigh-Durham International
20216,2018,12,YX,Republic Airline,RIC,"Richmond, VA: Richmond International",144.0,5.0,1312.0,327.0,28.0,Richmond,VA: Richmond International,VA,Richmond International
20217,2018,12,YX,Republic Airline,ROC,"Rochester, NY: Greater Rochester International",182.0,4.0,1558.0,295.0,1.0,Rochester,NY: Greater Rochester International,NY,Greater Rochester International
20218,2018,12,YX,Republic Airline,RSW,"Fort Myers, FL: Southwest Florida International",53.0,0.0,900.0,113.0,73.0,Fort Myers,FL: Southwest Florida International,FL,Southwest Florida International
20219,2018,12,YX,Republic Airline,SAT,"San Antonio, TX: San Antonio International",47.0,0.0,660.0,125.0,11.0,San Antonio,TX: San Antonio International,TX,San Antonio International
20220,2018,12,YX,Republic Airline,SAV,"Savannah, GA: Savannah/Hilton Head International",38.0,0.0,299.0,161.0,0.0,Savannah,GA: Savannah/Hilton Head International,GA,Savannah/Hilton Head International
20221,2018,12,YX,Republic Airline,SDF,"Louisville, KY: Louisville Muhammad Ali Intern...",552.0,3.0,4739.0,1146.0,85.0,Louisville,KY: Louisville Muhammad Ali International,KY,Louisville Muhammad Ali International
20222,2018,12,YX,Republic Airline,SLC,"Salt Lake City, UT: Salt Lake City International",43.0,0.0,187.0,45.0,0.0,Salt Lake City,UT: Salt Lake City International,UT,Salt Lake City International
20223,2018,12,YX,Republic Airline,SRQ,"Sarasota/Bradenton, FL: Sarasota/Bradenton Int...",104.0,0.0,718.0,230.0,0.0,Sarasota/Bradenton,FL: Sarasota/Bradenton International,FL,Sarasota/Bradenton International
20224,2018,12,YX,Republic Airline,STL,"St. Louis, MO: St Louis Lambert International",175.0,0.0,1193.0,73.0,0.0,St. Louis,MO: St Louis Lambert International,MO,St Louis Lambert International
20225,2018,12,YX,Republic Airline,SYR,"Syracuse, NY: Syracuse Hancock International",81.0,1.0,555.0,168.0,0.0,Syracuse,NY: Syracuse Hancock International,NY,Syracuse Hancock International
20226,2018,12,YX,Republic Airline,TLH,"Tallahassee, FL: Tallahassee International",47.0,1.0,364.0,261.0,6.0,Tallahassee,FL: Tallahassee International,FL,Tallahassee International
20227,2018,12,YX,Republic Airline,TUL,"Tulsa, OK: Tulsa International",39.0,0.0,228.0,24.0,0.0,Tulsa,OK: Tulsa International,OK,Tulsa International
20228,2018,12,YX,Republic Airline,TYS,"Knoxville, TN: McGhee Tyson",18.0,0.0,179.0,5.0,40.0,Knoxville,TN: McGhee Tyson,TN,McGhee Tyson
20229,2018,12,YX,Republic Airline,VPS,"Valparaiso, FL: Eglin AFB Destin Fort Walton B...",31.0,0.0,66.0,4.0,0.0,Valparaiso,FL: Eglin AFB Destin Fort Walton Beach,FL,Eglin AFB Destin Fort Walton Beach
20230,2018,12,YX,Republic Airline,XNA,"Fayetteville, AR: Northwest Arkansas Regional",76.0,0.0,776.0,114.0,0.0,Fayetteville,AR: Northwest Arkansas Regional,AR,Northwest Arkansas Regional

In [10]:
new_airline_df = new_airline_data_df.drop(['airport_name','State/Airport'], axis=1)
new_airline_df

,year,month,carrier,carrier_name,airport,arr_flights,arr_cancelled,arr_delay,carrier_delay,weather_delay,City,State,Airport
0,2018,1,MQ,Envoy Air,BIS,5.0,0.0,104.0,54.0,1.0,Bismarck/Mandan,ND,Bismarck Municipal
1,2018,1,MQ,Envoy Air,BNA,110.0,3.0,897.0,344.0,37.0,Nashville,TN,Nashville International
2,2018,1,MQ,Envoy Air,BOI,32.0,0.0,353.0,9.0,18.0,Boise,ID,Boise Air Terminal
3,2018,1,MQ,Envoy Air,BPT,63.0,3.0,657.0,83.0,34.0,Beaumont/Port Arthur,TX,Jack Brooks Regional
4,2018,1,MQ,Envoy Air,BUF,31.0,0.0,484.0,27.0,136.0,Buffalo,NY,Buffalo Niagara International
5,2018,1,MQ,Envoy Air,BWI,112.0,3.0,2198.0,567.0,101.0,Baltimore,MD,Baltimore/Washington International Thurgood M...
6,2018,1,MQ,Envoy Air,BZN,36.0,0.0,227.0,43.0,27.0,Bozeman,MT,Bozeman Yellowstone International
7,2018,1,MQ,Envoy Air,CAE,64.0,1.0,611.0,120.0,150.0,Columbia,SC,Columbia Metropolitan
8,2018,1,MQ,Envoy Air,CHO,53.0,3.0,696.0,123.0,6.0,Charlottesville,VA,Charlottesville Albemarle
9,2018,1,MQ,Envoy Air,CHS,63.0,12.0,291.0,108.0,1.0,Charleston,SC,Charleston AFB/International
10,2018,1,MQ,Envoy Air,CID,158.0,2.0,1323.0,363.0,194.0,Cedar Rapids/Iowa City,IA,The Eastern Iowa
11,2018,1,MQ,Envoy Air,CLE,200.0,11.0,2043.0,744.0,99.0,Cleveland,OH,Cleveland-Hopkins International
12,2018,1,MQ,Envoy Air,CLL,112.0,5.0,990.0,332.0,9.0,College Station/Bryan,TX,Easterwood Field
13,2018,1,MQ,Envoy Air,CLT,65.0,4.0,625.0,98.0,58.0,Charlotte,NC,Charlotte Douglas International
14,2018,1,MQ,Envoy Air,CMH,453.0,16.0,8247.0,1949.0,1789.0,Columbus,OH,John Glenn Columbus International
15,2018,1,MQ,Envoy Air,CMI,194.0,12.0,2968.0,549.0,624.0,Champaign/Urbana,IL,University of Illinois/Willard
16,2018,1,MQ,Envoy Air,COU,60.0,1.0,845.0,137.0,95.0,Columbia,MO,Columbia Regional
17,2018,1,MQ,Envoy Air,CRP,6.0,0.0,250.0,171.0,4.0,Corpus Christi,TX,Corpus Christi International
18,2018,1,MQ,Envoy Air,CVG,372.0,12.0,4356.0,697.0,658.0,Cincinnati,OH,Cincinnati/Northern Kentucky International
19,2018,1,MQ,Envoy Air,CWA,83.0,2.0,991.0,271.0,4.0,Mosinee,WI,Central Wisconsin
20,2018,1,MQ,Envoy Air,DAY,49.0,4.0,379.0,56.0,32.0,Dayton,OH,James M Cox/Dayton International
21,2018,1,MQ,Envoy Air,DBQ,89.0,7.0,1027.0,118.0,100.0,Dubuque,IA,Dubuque Regional
22,2018,1,MQ,Envoy Air,DCA,58.0,2.0,386.0,27.0,0.0,Washington,DC,Ronald Reagan Washington National
23,2018,1,MQ,Envoy Air,DFW,4491.0,152.0,48316.0,11983.0,7471.0,Dallas/Fort Worth,TX,Dallas/Fort Worth International
24,2018,1,MQ,Envoy Air,DSM,111.0,2.0,1649.0,509.0,231.0,Des Moines,IA,Des Moines International
25,2018,1,MQ,Envoy Air,DTW,113.0,11.0,1287.0,322.0,36.0,Detroit,MI,Detroit Metro Wayne County
26,2018,1,MQ,Envoy Air,ELP,32.0,1.0,362.0,32.0,81.0,El Paso,TX,El Paso International
27,2018,1,MQ,Envoy Air,EVV,59.0,5.0,470.0,40.0,0.0,Evansville,IN,Evansville Regional
28,2018,1,MQ,Envoy Air,EWR,58.0,4.0,948.0,87.0,67.0,Newark,NJ,Newark Liberty International
29,2018,1,MQ,Envoy Air,FAR,142.0,3.0,1424.0,449.0,107.0,Fargo,ND,Hector International
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20201,2018,12,YX,Republic Airline,MSN,20.0,0.0,203.0,57.0,0.0,Madison,WI,Dane County Regional-Truax Field
20202,2018,12,YX,Republic Airline,MSP,447.0,1.0,3500.0,632.0,265.0,Minneapolis,MN,Minneapolis-St Paul International
20203,2018,12,YX,Republic Airline,MSY,197.0,2.0,1435.0,341.0,4.0,New Orleans,LA,Louis Armstrong New Orleans International
20204,2018,12,YX,Republic Airline,MYR,31.0,0.0,27.0,0.0,0.0,Myrtle Beach,SC,Myrtle Beach International
20205,2018,12,YX,Republic Airline,OKC,111.0,2.0,1428.0,246.0,0.0,Oklahoma City,OK,Will Rogers World
20206,2018,12,YX,Republic Airline,OMA,205.0,2.0,2314.0,557.0,99.0,Omaha,NE,Eppley Airfield
20207,2018,12,YX,Republic Airline,ORD,1186.0,6.0,8864.0,2072.0,420.0,Chicago,IL,Chicago O'Hare International
20208,2018,12,YX,Republic Airline,ORF,133.0,0.0,1175.0,484.0,0.0,Norfolk,VA,Norfolk International
20209,2018,12,YX,Republic Airline,PBI,32.0,0.0,171.0,5.0,0.0,West Palm Beach/Palm Beach,FL,Palm Beach International
20210,2018,12,YX,Republic Airline,PHL,1280.0,9.0,9069.0,1945.0,214.0,Philadelphia,PA,Philadelphia International
20211,2018,12,YX,Republic Airline,PIT,634.0,2.0,5281.0,1297.0,43.0,Pittsburgh,PA,Pittsburgh International
20212,2018,12,YX,Republic Airline,PNS,60.0,1.0,714.0,194.0,0.0,Pensacola,FL,Pensacola International
20213,2018,12,YX,Republic Airline,PVD,98.0,0.0,509.0,53.0,0.0,Providence,RI,Theodore Francis Green State
20214,2018,12,YX,Republic Airline,PWM,61.0,1.0,754.0,119.0,1.0,Portland,ME,Portland International Jetport
20215,2018,12,YX,Republic Airline,RDU,594.0,23.0,5184.0,1315.0,180.0,Raleigh/Durham,NC,Raleigh-Durham International
20216,2018,12,YX,Republic Airline,RIC,144.0,5.0,1312.0,327.0,28.0,Richmond,VA,Richmond International
20217,2018,12,YX,Republic Airline,ROC,182.0,4.0,1558.0,295.0,1.0,Rochester,NY,Greater Rochester International
20218,2018,12,YX,Republic Airline,RSW,53.0,0.0,900.0,113.0,73.0,Fort Myers,FL,Southwest Florida International
20219,2018,12,YX,Republic Airline,SAT,47.0,0.0,660.0,125.0,11.0,San Antonio,TX,San Antonio International
20220,2018,12,YX,Republic Airline,SAV,38.0,0.0,299.0,161.0,0.0,Savannah,GA,Savannah/Hilton Head International
20221,2018,12,YX,Republic Airline,SDF,552.0,3.0,4739.0,1146.0,85.0,Louisville,KY,Louisville Muhammad Ali International
20222,2018,12,YX,Republic Airline,SLC,43.0,0.0,187.0,45.0,0.0,Salt Lake City,UT,Salt Lake City International
20223,2018,12,YX,Republic Airline,SRQ,104.0,0.0,718.0,230.0,0.0,Sarasota/Bradenton,FL,Sarasota/Bradenton International
20224,2018,12,YX,Republic Airline,STL,175.0,0.0,1193.0,73.0,0.0,St. Louis,MO,St Louis Lambert International
20225,2018,12,YX,Republic Airline,SYR,81.0,1.0,555.0,168.0,0.0,Syracuse,NY,Syracuse Hancock International
20226,2018,12,YX,Republic Airline,TLH,47.0,1.0,364.0,261.0,6.0,Tallahassee,FL,Tallahassee International
20227,2018,12,YX,Republic Airline,TUL,39.0,0.0,228.0,24.0,0.0,Tulsa,OK,Tulsa International
20228,2018,12,YX,Republic Airline,TYS,18.0,0.0,179.0,5.0,40.0,Knoxville,TN,McGhee Tyson
20229,2018,12,YX,Republic Airline,VPS,31.0,0.0,66.0,4.0,0.0,Valparaiso,FL,Eglin AFB Destin Fort Walton Beach
20230,2018,12,YX,Republic Airline,XNA,76.0,0.0,776.0,114.0,0.0,Fayetteville,AR,Northwest Arkansas Regional

In [11]:
popular_airline = ['LAX','ATL','ORD','DEN','DFW']
top_airline = new_airline_df.loc[new_airline_df['airport'].isin(popular_airline)]
top_airline.head(10)

,year,month,carrier,carrier_name,airport,arr_flights,arr_cancelled,arr_delay,carrier_delay,weather_delay,City,State,Airport
23,2018,1,MQ,Envoy Air,DFW,4491.0,152.0,48316.0,11983.0,7471.0,Dallas/Fort Worth,TX,Dallas/Fort Worth International
81,2018,1,MQ,Envoy Air,ORD,4704.0,166.0,69063.0,18761.0,5530.0,Chicago,IL,Chicago O'Hare International
114,2018,1,NK,Spirit Air Lines,ATL,629.0,10.0,6276.0,2009.0,135.0,Atlanta,GA,Hartsfield-Jackson Atlanta International
121,2018,1,NK,Spirit Air Lines,DEN,258.0,2.0,3064.0,441.0,120.0,Denver,CO,Denver International
122,2018,1,NK,Spirit Air Lines,DFW,608.0,6.0,5490.0,2085.0,15.0,Dallas/Fort Worth,TX,Dallas/Fort Worth International
129,2018,1,NK,Spirit Air Lines,LAX,682.0,7.0,4683.0,1920.0,84.0,Los Angeles,CA,Los Angeles International
138,2018,1,NK,Spirit Air Lines,ORD,774.0,10.0,6505.0,964.0,123.0,Chicago,IL,Chicago O'Hare International
154,2018,1,OH,PSA Airlines Inc.,ATL,68.0,3.0,470.0,228.0,0.0,Atlanta,GA,Hartsfield-Jackson Atlanta International
219,2018,1,OH,PSA Airlines Inc.,ORD,181.0,5.0,4522.0,1498.0,33.0,Chicago,IL,Chicago O'Hare International
255,2018,1,OO,SkyWest Airlines Inc.,ATL,2115.0,63.0,62234.0,17773.0,4214.0,Atlanta,GA,Hartsfield-Jackson Atlanta International

In [12]:
top_airline[['city', 'else']] = top_airline['City'].str.split(expand=True,pat='/')
top_airline.head()

/Users/jasmin/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3391: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

,year,month,carrier,carrier_name,airport,arr_flights,arr_cancelled,arr_delay,carrier_delay,weather_delay,City,State,Airport,city,else
23,2018,1,MQ,Envoy Air,DFW,4491.0,152.0,48316.0,11983.0,7471.0,Dallas/Fort Worth,TX,Dallas/Fort Worth International,Dallas,Fort Worth
81,2018,1,MQ,Envoy Air,ORD,4704.0,166.0,69063.0,18761.0,5530.0,Chicago,IL,Chicago O'Hare International,Chicago,None
114,2018,1,NK,Spirit Air Lines,ATL,629.0,10.0,6276.0,2009.0,135.0,Atlanta,GA,Hartsfield-Jackson Atlanta International,Atlanta,None
121,2018,1,NK,Spirit Air Lines,DEN,258.0,2.0,3064.0,441.0,120.0,Denver,CO,Denver International,Denver,None
122,2018,1,NK,Spirit Air Lines,DFW,608.0,6.0,5490.0,2085.0,15.0,Dallas/Fort Worth,TX,Dallas/Fort Worth International,Dallas,Fort Worth

In [13]:
top_airline = top_airline.drop(['City','else'], axis=1)

In [14]:
final_df = top_airline.sort_values('month')
final_df.head(10)
final_df.to_csv('Resources/final_airline_data.csv')

In [15]:
year = top_airline.groupby(['year','month','city'], as_index=False).mean()
year.head(10)

,year,month,city,arr_flights,arr_cancelled,arr_delay,carrier_delay,weather_delay
0,2018,1,Atlanta,2041.266667,59.666667,27177.866667,7903.066667,2487.333333
1,2018,1,Chicago,1833.714286,45.714286,27676.500000,7900.714286,1343.142857
2,2018,1,Dallas,1719.769231,43.000000,16234.846154,5884.000000,1417.076923
3,2018,1,Denver,1402.153846,18.153846,12630.000000,4188.076923,717.153846
4,2018,1,Los Angeles,1482.750000,19.000000,12789.250000,4954.916667,789.833333
5,2018,2,Atlanta,1875.066667,8.933333,17566.533333,6407.000000,951.066667
6,2018,2,Chicago,1668.285714,80.285714,26393.071429,5921.142857,1678.357143
7,2018,2,Dallas,1574.230769,42.923077,26148.846154,7056.307692,1881.538462
8,2018,2,Denver,1249.846154,10.692308,14111.153846,5019.230769,596.153846
9,2018,2,Los Angeles,1341.000000,10.916667,13593.166667,4881.500000,474.416667

In [16]:
def month_json_to_df(city_name):
    start_date=["2018-01-01","2018-02-01","2018-03-01","2018-04-01","2018-05-01","2018-06-01","2018-07-01","2018-08-01","2018-09-01","2018-10-01","2018-11-01","2018-12-01"]
    end_date=["2018-01-31","2018-02-28","2018-03-31","2018-04-30","2018-05-31","2018-06-30","2018-07-31","2018-08-31","2018-09-30","2018-10-31","2018-11-30","2018-12-31"]
    for i in range(12):
        query_url = f"{url}?key={api_key}&q={city_name}&format=json&extra=2018-01-01&date={start_date[i]}&enddate={end_date[i]}"
        response=requests.get(query_url)
        json_file = response.json()
        city = json_file['data']['request'][0]['query']
    
        date=[]
        weather_desc=[]
        for weather_row in json_file['data']['weather']:
            date.append(weather_row['date'])
            weather_desc.append(weather_row['hourly'][0]['weatherDesc'][0]['value'])
        if i ==0:
            final_DF=pd.DataFrame({'city':city, 'date':date, 'weather':weather_desc})
        else:
            temp_df=pd.DataFrame({'city':city, 'date':date, 'weather':weather_desc})
            final_DF=pd.concat([final_DF, temp_df])
    return final_DF

In [17]:
lax_df=month_json_to_df('Los Angeles')
lax_df.to_csv('Resources/lax_df.csv')
#lax_df = lax_df.rename(columns= {"city":"city_name", "date":"date_of","weather":"weather_desc"})
lax_df.head()

                                    city        date weather
0  Los Angeles, United States of America  2018-01-01   Clear
1  Los Angeles, United States of America  2018-01-02   Clear
2  Los Angeles, United States of America  2018-01-03   Clear
3  Los Angeles, United States of America  2018-01-04   Clear
4  Los Angeles, United States of America  2018-01-05   Clear

In [18]:
chi_df=month_json_to_df("Chicago")
chi_df.head()

                                city        date        weather
0  Chicago, United States of America  2018-01-01          Clear
1  Chicago, United States of America  2018-01-02          Clear
2  Chicago, United States of America  2018-01-03          Clear
3  Chicago, United States of America  2018-01-04  Partly cloudy
4  Chicago, United States of America  2018-01-05          Clear

In [19]:
dfw_df=month_json_to_df("Dallas")
dfw_df.head()

                               city        date        weather
0  Dallas, United States of America  2018-01-01  Partly cloudy
1  Dallas, United States of America  2018-01-02          Clear
2  Dallas, United States of America  2018-01-03          Clear
3  Dallas, United States of America  2018-01-04          Clear
4  Dallas, United States of America  2018-01-05       Overcast

In [20]:
atl_df=month_json_to_df("Atlanta")
atl_df.head()

                                city        date        weather
0  Atlanta, United States of America  2018-01-01  Partly cloudy
1  Atlanta, United States of America  2018-01-02          Clear
2  Atlanta, United States of America  2018-01-03       Overcast
3  Atlanta, United States of America  2018-01-04          Clear
4  Atlanta, United States of America  2018-01-05          Clear

In [21]:
den_df=month_json_to_df("Denver")
den_df.head()

                               city        date weather
0  Denver, United States of America  2018-01-01   Clear
1  Denver, United States of America  2018-01-02   Clear
2  Denver, United States of America  2018-01-03   Clear
3  Denver, United States of America  2018-01-04   Clear
4  Denver, United States of America  2018-01-05   Clear

In [22]:
final = pd.concat([lax_df, dfw_df, chi_df, atl_df, den_df])
final_weather = final

In [23]:
final_weather.weather.unique()

array(['Clear', 'Cloudy', 'Partly cloudy', 'Moderate rain',
       'Moderate rain at times', 'Light drizzle', 'Overcast',
       'Light rain', 'Light rain shower', 'Moderate or heavy rain shower',
       'Patchy rain possible', 'Patchy light drizzle', 'Mist',
       'Thundery outbreaks possible', 'Fog', 'Freezing fog'], dtype=object)

In [24]:
final['weather_val']=final['weather'].replace({'Clear':15, 'Overcast':14,'Partly cloudy':13, 'Cloudy':12, 'Fog':11,\
                          'Freezing fog':10, 'Mist':9, 'Patchy light drizzle':8, 'Light drizzle':7, 'Patchy rain possible':6,\
                         'Light rain':5, 'Light rain shower':4, 'Moderate rain at times':3,'Moderate rain':2, 'Moderate or heavy rain shower':1,\
                         'Thundery outbreaks possible':0})

In [25]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1825 entries, 0 to 30
Data columns (total 4 columns):
city           1825 non-null object
date           1825 non-null object
weather        1825 non-null object
weather_val    1825 non-null int64
dtypes: int64(1), object(3)
memory usage: 71.3+ KB

In [26]:
final['date']=pd.to_datetime(final['date'])

In [27]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1825 entries, 0 to 30
Data columns (total 4 columns):
city           1825 non-null object
date           1825 non-null datetime64[ns]
weather        1825 non-null object
weather_val    1825 non-null int64
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 71.3+ KB

In [28]:
final['month']= final['date'].dt.month

In [29]:
final['year']= final['date'].dt.year
final.head()

,city,date,weather,weather_val,month,year
0,"Los Angeles, United States of America",2018-01-01,Clear,15,1,2018
1,"Los Angeles, United States of America",2018-01-02,Clear,15,1,2018
2,"Los Angeles, United States of America",2018-01-03,Clear,15,1,2018
3,"Los Angeles, United States of America",2018-01-04,Clear,15,1,2018
4,"Los Angeles, United States of America",2018-01-05,Clear,15,1,2018

In [30]:
final.columns

Index(['city', 'date', 'weather', 'weather_val', 'month', 'year'], dtype='object')

In [31]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1825 entries, 0 to 30
Data columns (total 6 columns):
city           1825 non-null object
date           1825 non-null datetime64[ns]
weather        1825 non-null object
weather_val    1825 non-null int64
month          1825 non-null int64
year           1825 non-null int64
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 99.8+ KB

In [32]:
final[['city','country']] = final.city.str.split(expand= True,pat=',')
final.head()

,city,date,weather,weather_val,month,year,country
0,Los Angeles,2018-01-01,Clear,15,1,2018,United States of America
1,Los Angeles,2018-01-02,Clear,15,1,2018,United States of America
2,Los Angeles,2018-01-03,Clear,15,1,2018,United States of America
3,Los Angeles,2018-01-04,Clear,15,1,2018,United States of America
4,Los Angeles,2018-01-05,Clear,15,1,2018,United States of America

In [33]:
final_df = final.groupby(['year','month','city'],as_index=False).mean()#.agg(lambda x:x.value_counts().index[0])

final_df.weather_val = np.round(final_df.weather_val)
final_df

    year  month         city  weather_val
0   2018      1      Atlanta         14.0
1   2018      1      Chicago         14.0
2   2018      1       Dallas         14.0
3   2018      1       Denver         15.0
4   2018      1  Los Angeles         14.0
5   2018      2      Atlanta         13.0
6   2018      2      Chicago         13.0
7   2018      2       Dallas         13.0
8   2018      2       Denver         14.0
9   2018      2  Los Angeles         14.0
10  2018      3      Atlanta         14.0
11  2018      3      Chicago         14.0
12  2018      3       Dallas         14.0
13  2018      3       Denver         14.0
14  2018      3  Los Angeles         12.0
15  2018      4      Atlanta         14.0
16  2018      4      Chicago         14.0
17  2018      4       Dallas         14.0
18  2018      4       Denver         14.0
19  2018      4  Los Angeles         15.0
20  2018      5      Atlanta         14.0
21  2018      5      Chicago         13.0
22  2018      5       Dallas         13.0
23  2018      5       Denver         13.0
24  2018      5  Los Angeles         14.0
25  2018      6      Atlanta         14.0
26  2018      6      Chicago         14.0
27  2018      6       Dallas         14.0
28  2018      6       Denver         15.0
29  2018      6  Los Angeles         15.0
30  2018      7      Atlanta         15.0
31  2018      7      Chicago         15.0
32  2018      7       Dallas         14.0
33  2018      7       Denver         15.0
34  2018      7  Los Angeles         15.0
35  2018      8      Atlanta         14.0
36  2018      8      Chicago         14.0
37  2018      8       Dallas         15.0
38  2018      8       Denver         15.0
39  2018      8  Los Angeles         15.0
40  2018      9      Atlanta         14.0
41  2018      9      Chicago         14.0
42  2018      9       Dallas         14.0
43  2018      9       Denver         15.0
44  2018      9  Los Angeles         15.0
45  2018     10      Atlanta         14.0
46  2018     10      Chicago         14.0
47  2018     10       Dallas         14.0
48  2018     10       Denver         14.0
49  2018     10  Los Angeles         14.0
50  2018     11      Atlanta         14.0
51  2018     11      Chicago         14.0
52  2018     11       Dallas         14.0
53  2018     11       Denver         14.0
54  2018     11  Los Angeles         14.0
55  2018     12      Atlanta         14.0
56  2018     12      Chicago         14.0
57  2018     12       Dallas         14.0
58  2018     12       Denver         14.0
59  2018     12  Los Angeles         14.0

In [34]:
final_df[final_df.city=='Los Angeles']

    year  month         city  weather_val
4   2018      1  Los Angeles         14.0
9   2018      2  Los Angeles         14.0
14  2018      3  Los Angeles         12.0
19  2018      4  Los Angeles         15.0
24  2018      5  Los Angeles         14.0
29  2018      6  Los Angeles         15.0
34  2018      7  Los Angeles         15.0
39  2018      8  Los Angeles         15.0
44  2018      9  Los Angeles         15.0
49  2018     10  Los Angeles         14.0
54  2018     11  Los Angeles         14.0
59  2018     12  Los Angeles         14.0

In [35]:
final_df.weather_val.unique()

array([14., 15., 13., 12.])

In [36]:
final_df.weather_val.value_counts()

14.0    40
15.0    13
13.0     6
12.0     1
Name: weather_val, dtype: int64

In [37]:
city_list = final.city.unique()

In [38]:
for city in city_list:
    print(city)
#     print(final[(final.city==city)&(final.month == 5)]['weather'].value_counts())
    print(final[(final.city==city)]['weather'].value_counts())

    print('-----------------------')

Los Angeles
Clear                            291
Partly cloudy                     41
Cloudy                            16
Light rain                         4
Patchy rain possible               3
Overcast                           3
Light rain shower                  2
Moderate or heavy rain shower      1
Patchy light drizzle               1
Light drizzle                      1
Moderate rain at times             1
Moderate rain                      1
Name: weather, dtype: int64
-----------------------
Dallas
Clear                          215
Partly cloudy                   64
Overcast                        47
Cloudy                          27
Thundery outbreaks possible      9
Mist                             3
Name: weather, dtype: int64
-----------------------
Chicago
Clear                          171
Overcast                        84
Partly cloudy                   65
Cloudy                          28
Thundery outbreaks possible      6
Mist                             6
Fog                              4
Moderate rain                    1
Name: weather, dtype: int64
-----------------------
Atlanta
Clear                          205
Partly cloudy                   66
Overcast                        54
Cloudy                          19
Mist                            12
Fog                              8
Thundery outbreaks possible      1
Name: weather, dtype: int64
-----------------------
Denver
Clear                          279
Partly cloudy                   48
Cloudy                          17
Overcast                        14
Thundery outbreaks possible      3
Mist                             2
Fog                              1
Freezing fog                     1
Name: weather, dtype: int64
-----------------------

In [39]:
final_df.head(10)

   year  month         city  weather_val
0  2018      1      Atlanta         14.0
1  2018      1      Chicago         14.0
2  2018      1       Dallas         14.0
3  2018      1       Denver         15.0
4  2018      1  Los Angeles         14.0
5  2018      2      Atlanta         13.0
6  2018      2      Chicago         13.0
7  2018      2       Dallas         13.0
8  2018      2       Denver         14.0
9  2018      2  Los Angeles         14.0

In [40]:
year.head()

,year,month,city,arr_flights,arr_cancelled,arr_delay,carrier_delay,weather_delay
0,2018,1,Atlanta,2041.266667,59.666667,27177.866667,7903.066667,2487.333333
1,2018,1,Chicago,1833.714286,45.714286,27676.500000,7900.714286,1343.142857
2,2018,1,Dallas,1719.769231,43.000000,16234.846154,5884.000000,1417.076923
3,2018,1,Denver,1402.153846,18.153846,12630.000000,4188.076923,717.153846
4,2018,1,Los Angeles,1482.750000,19.000000,12789.250000,4954.916667,789.833333

In [51]:
year.merge(final_df, on=['year', 'month', 'city'])

,year,month,city,arr_flights,arr_cancelled,arr_delay,carrier_delay,weather_delay,weather_val,arr_flights_x,...,arr_flights_x,arr_cancelled_x,arr_delay_x,carrier_delay_x,weather_delay_x,arr_flights_y,arr_cancelled_y,arr_delay_y,carrier_delay_y,weather_delay_y
0,2018,1,Atlanta,2041.266667,59.666667,27177.866667,7903.066667,2487.333333,14.0,2041.266667,...,2041.266667,59.666667,27177.866667,7903.066667,2487.333333,2041.266667,59.666667,27177.866667,7903.066667,2487.333333
1,2018,1,Chicago,1833.714286,45.714286,27676.500000,7900.714286,1343.142857,14.0,1833.714286,...,1833.714286,45.714286,27676.500000,7900.714286,1343.142857,1833.714286,45.714286,27676.500000,7900.714286,1343.142857
2,2018,1,Dallas,1719.769231,43.000000,16234.846154,5884.000000,1417.076923,14.0,1719.769231,...,1719.769231,43.000000,16234.846154,5884.000000,1417.076923,1719.769231,43.000000,16234.846154,5884.000000,1417.076923
3,2018,1,Denver,1402.153846,18.153846,12630.000000,4188.076923,717.153846,15.0,1402.153846,...,1402.153846,18.153846,12630.000000,4188.076923,717.153846,1402.153846,18.153846,12630.000000,4188.076923,717.153846
4,2018,1,Los Angeles,1482.750000,19.000000,12789.250000,4954.916667,789.833333,14.0,1482.750000,...,1482.750000,19.000000,12789.250000,4954.916667,789.833333,1482.750000,19.000000,12789.250000,4954.916667,789.833333
5,2018,2,Atlanta,1875.066667,8.933333,17566.533333,6407.000000,951.066667,13.0,1875.066667,...,1875.066667,8.933333,17566.533333,6407.000000,951.066667,1875.066667,8.933333,17566.533333,6407.000000,951.066667
6,2018,2,Chicago,1668.285714,80.285714,26393.071429,5921.142857,1678.357143,13.0,1668.285714,...,1668.285714,80.285714,26393.071429,5921.142857,1678.357143,1668.285714,80.285714,26393.071429,5921.142857,1678.357143
7,2018,2,Dallas,1574.230769,42.923077,26148.846154,7056.307692,1881.538462,13.0,1574.230769,...,1574.230769,42.923077,26148.846154,7056.307692,1881.538462,1574.230769,42.923077,26148.846154,7056.307692,1881.538462
8,2018,2,Denver,1249.846154,10.692308,14111.153846,5019.230769,596.153846,14.0,1249.846154,...,1249.846154,10.692308,14111.153846,5019.230769,596.153846,1249.846154,10.692308,14111.153846,5019.230769,596.153846
9,2018,2,Los Angeles,1341.000000,10.916667,13593.166667,4881.500000,474.416667,14.0,1341.000000,...,1341.000000,10.916667,13593.166667,4881.500000,474.416667,1341.000000,10.916667,13593.166667,4881.500000,474.416667
10,2018,3,Atlanta,2246.333333,20.866667,15850.933333,6090.933333,781.866667,14.0,2246.333333,...,2246.333333,20.866667,15850.933333,6090.933333,781.866667,2246.333333,20.866667,15850.933333,6090.933333,781.866667
11,2018,3,Chicago,1909.500000,40.071429,15070.285714,5167.357143,613.928571,14.0,1909.500000,...,1909.500000,40.071429,15070.285714,5167.357143,613.928571,1909.500000,40.071429,15070.285714,5167.357143,613.928571
12,2018,3,Dallas,1789.692308,34.461538,14371.307692,5227.000000,728.153846,14.0,1789.692308,...,1789.692308,34.461538,14371.307692,5227.000000,728.153846,1789.692308,34.461538,14371.307692,5227.000000,728.153846
13,2018,3,Denver,1594.250000,15.333333,15049.250000,4578.333333,540.500000,14.0,1594.250000,...,1594.250000,15.333333,15049.250000,4578.333333,540.500000,1594.250000,15.333333,15049.250000,4578.333333,540.500000
14,2018,3,Los Angeles,1548.750000,23.666667,19259.166667,5450.250000,502.750000,12.0,1548.750000,...,1548.750000,23.666667,19259.166667,5450.250000,502.750000,1548.750000,23.666667,19259.166667,5450.250000,502.750000
15,2018,4,Atlanta,2180.666667,6.333333,17397.866667,6419.066667,858.000000,14.0,2180.666667,...,2180.666667,6.333333,17397.866667,6419.066667,858.000000,2180.666667,6.333333,17397.866667,6419.066667,858.000000
16,2018,4,Chicago,2033.538462,17.384615,19571.538462,6261.923077,686.692308,14.0,2033.538462,...,2033.538462,17.384615,19571.538462,6261.923077,686.692308,2033.538462,17.384615,19571.538462,6261.923077,686.692308
17,2018,4,Dallas,1735.076923,19.307692,17146.538462,5217.000000,1293.615385,14.0,1735.076923,...,1735.076923,19.307692,17146.538462,5217.000000,1293.615385,1735.076923,19.307692,17146.538462,5217.000000,1293.615385
18,2018,4,Denver,1578.500000,7.666667,14489.333333,4571.000000,474.000000,14.0,1578.500000,...,1578.500000,7.666667,14489.333333,4571.000000,474.000000,1578.500000,7.666667,14489.333333,4571.000000,474.000000
19,2018,4,Los Angeles,1661.818182,12.363636,17983.272727,5707.272727,557.818182,15.0,1661.818182,...,1661.818182,12.363636,17983.272727,5707.272727,557.818182,1661.818182,12.363636,17983.272727,5707.272727,557.818182
20,2018,5,Atlanta,2255.666667,6.066667,22447.866667,7660.733333,1316.466667,14.0,2255.666667,...,2255.666667,6.066667,22447.866667,7660.733333,1316.466667,2255.666667,6.066667,22447.866667,7660.733333,1316.466667
21,2018,5,Chicago,2180.230769,58.538462,42825.076923,8274.923077,3148.000000,13.0,2180.230769,...,2180.230769,58.538462,42825.076923,8274.923077,3148.000000,2180.230769,58.538462,42825.076923,8274.923077,3148.000000
22,2018,5,Dallas,1826.846154,28.615385,23119.846154,7399.076923,1557.769231,13.0,1826.846154,...,1826.846154,28.615385,23119.846154,7399.076923,1557.769231,1826.846154,28.615385,23119.846154,7399.076923,1557.769231
23,2018,5,Denver,1652.916667,9.333333,18817.666667,5892.916667,847.916667,13.0,1652.916667,...,1652.916667,9.333333,18817.666667,5892.916667,847.916667,1652.916667,9.333333,18817.666667,5892.916667,847.916667
24,2018,5,Los Angeles,1732.454545,13.272727,18672.636364,5751.363636,643.181818,14.0,1732.454545,...,1732.454545,13.272727,18672.636364,5751.363636,643.181818,1732.454545,13.272727,18672.636364,5751.363636,643.181818
25,2018,6,Atlanta,2257.133333,14.066667,41060.000000,11247.600000,2605.666667,14.0,2257.133333,...,2257.133333,14.066667,41060.000000,11247.600000,2605.666667,2257.133333,14.066667,41060.000000,11247.600000,2605.666667
26,2018,6,Chicago,2243.769231,86.230769,56545.230769,11261.384615,3189.230769,14.0,2243.769231,...,2243.769231,86.230769,56545.230769,11261.384615,3189.230769,2243.769231,86.230769,56545.230769,11261.384615,3189.230769
27,2018,6,Dallas,1890.692308,40.461538,28190.230769,8909.000000,1959.000000,14.0,1890.692308,...,1890.692308,40.461538,28190.230769,8909.000000,1959.000000,1890.692308,40.461538,28190.230769,8909.000000,1959.000000
28,2018,6,Denver,1767.083333,14.500000,24631.333333,6157.666667,1078.833333,15.0,1767.083333,...,1767.083333,14.500000,24631.333333,6157.666667,1078.833333,1767.083333,14.500000,24631.333333,6157.666667,1078.833333
29,2018,6,Los Angeles,1761.545455,13.727273,19117.000000,7195.727273,1067.636364,15.0,1761.545455,...,1761.545455,13.727273,19117.000000,7195.727273,1067.636364,1761.545455,13.727273,19117.000000,7195.727273,1067.636364
30,2018,7,Atlanta,2315.533333,12.333333,31115.066667,8158.666667,2194.733333,15.0,2315.533333,...,2315.533333,12.333333,31115.066667,8158.666667,2194.733333,2315.533333,12.333333,31115.066667,8158.666667,2194.733333
31,2018,7,Chicago,2307.307692,35.307692,38430.230769,10375.153846,2171.769231,15.0,2307.307692,...,2307.307692,35.307692,38430.230769,10375.153846,2171.769231,2307.307692,35.307692,38430.230769,10375.153846,2171.769231
32,2018,7,Dallas,1940.538462,38.769231,33419.307692,9245.692308,2340.153846,14.0,1940.538462,...,1940.538462,38.769231,33419.307692,9245.692308,2340.153846,1940.538462,38.769231,33419.307692,9245.692308,2340.153846
33,2018,7,Denver,1845.333333,28.750000,26752.416667,7547.333333,1394.916667,15.0,1845.333333,...,1845.333333,28.750000,26752.416667,7547.333333,1394.916667,1845.333333,28.750000,26752.416667,7547.333333,1394.916667
34,2018,7,Los Angeles,1821.090909,21.363636,21097.454545,7240.454545,1239.090909,15.0,1821.090909,...,1821.090909,21.363636,21097.454545,7240.454545,1239.090909,1821.090909,21.363636,21097.454545,7240.454545,1239.090909
35,2018,8,Atlanta,2341.133333,13.466667,27503.866667,8297.400000,2019.800000,14.0,2341.133333,...,2341.133333,13.466667,27503.866667,8297.400000,2019.800000,2341.133333,13.466667,27503.866667,8297.400000,2019.800000
36,2018,8,Chicago,2336.307692,60.615385,52249.153846,11470.923077,2796.846154,14.0,2336.307692,...,2336.307692,60.615385,52249.153846,11470.923077,2796.846154,2336.307692,60.615385,52249.153846,11470.923077,2796.846154
37,2018,8,Dallas,1945.153846,37.230769,32025.076923,9284.000000,2099.923077,15.0,1945.153846,...,1945.153846,37.230769,32025.076923,9284.000000,2099.923077,1945.153846,37.230769,32025.076923,9284.000000,2099.923077
38,2018,8,Denver,1824.250000,16.916667,24928.083333,7861.750000,1262.250000,15.0,1824.250000,...,1824.250000,16.916667,24928.083333,7861.750000,1262.250000,1824.250000,16.916667,24928.083333,7861.750000,1262.250000
39,2018,8,Los Angeles,1807.181818,18.727273,21790.636364,7604.363636,1098.000000,15.0,1807.181818,...,1807.181818,18.727273,21790.636364,7604.363636,1098.000000,1807.181818,18.727273,21790.636364,7604.363636,1098.000000
40,2018,9,Atlanta,2101.400000,12.333333,16335.666667,5376.933333,1107.933333,14.0,2101.400000,...,2101.400000,12.333333,16335.666667,5376.933333,1107.933333,2101.400000,12.333333,16335.666667,5376.933333,1107.933333
41,2018,9,Chicago,2173.076923,35.461538,32038.923077,7601.153846,2118.846154,14.0,2173.076923,...,2173.076923,35.461538,32038.923077,7601.153846,2118.846154,2173.076923,35.461538,32038.923077,7601.153846,2118.846154
42,2018,9,Dallas,1753.461538,55.076923,26959.615385,7381.153846,1782.307692,14.0,1753.461538,...,1753.461538,55.076923,26959.615385,7381.153846,1782.307692,1753.461538,55.076923,26959.615385,7381.153846,1782.307692
43,2018,9,Denver,1800.636364,11.000000,15768.272727,5707.818182,576.090909,15.0,1800.636364,...,1800.636364,11.000000,15768.272727,5707.818182,576.090909,1800.636364,11.000000,15768.272727,5707.818182,576.090909
44,2018,9,Los Angeles,1624.818182,11.636364,12497.090909,4794.090909,685.181818,15.0,1624.818182,...,1624.818182,11.636364,12497.090909,4794.090909,685.181818,1624.818182,11.636364,12497.090909,4794.090909,685.181818
45,2018,10,Atlanta,2210.133333,6.600000,14311.200000,5118.400000,491.000000,14.0,2210.133333,...,2210.133333,6.600000,14311.200000,5118.400000,491.000000,2210.133333,6.600000,14311.200000,5118.400000,491.000000
46,2018,10,Chicago,2278.307692,14.000000,25036.384615,7386.153846,675.461538,14.0,2278.307692,...,2278.307692,14.000000,25036.384615,7386.153846,675.461538,2278.307692,14.000000,25036.384615,7386.153846,675.461538
47,2018,10,Dallas,1810.769231,41.461538,32318.692308,8585.769231,1921.230769,14.0,1810.769231,...,1810.769231,41.461538,32318.692308,8585.769231,1921.230769,1810.769231,41.461538,32318.692308,8585.769231,1921.230769
48,2018,10,Denver,1874.000000,7.545455,18618.272727,6506.363636,336.818182,14.0,1874.000000,...,1874.000000,7.545455,18618.272727,6506.363636,336.818182,1874.000000,7.545455,18618.272727,6506.363636,336.818182
49,2018,10,Los Angeles,1688.636364,9.454545,17046.818182,6137.363636,547.727273,14.0,1688.636364,...,1688.636364,9.454545,17046.818182,6137.363636,547.727273,1688.636364,9.454545,17046.818182,6137.363636,547.727273
50,2018,11,Atlanta,2084.400000,5.400000,25561.733333,7049.600000,1458.866667,14.0,2084.400000,...,2084.400000,5.400000,25561.733333,7049.600000,1458.866667,2084.400000,5.400000,25561.733333,7049.600000,1458.866667
51,2018,11,Chicago,2104.461538,77.538462,35716.461538,7503.615385,3699.769231,14.0,2104.461538,...,2104.461538,77.538462,35716.461538,7503.615385,3699.769231,2104.461538,77.538462,35716.461538,7503.615385,3699.769231
52,2018,11,Dallas,1732.307692,13.538462,20344.538462,7021.384615,994.538462,14.0,1732.307692,...,1732.307692,13.538462,20344.538462,7021.384615,994.538462,1732.307692,13.538462,20344.538462,7021.384615,994.538462
53,2018,11,Denver,1731.636364,10.636364,17341.181818,5810.636364,559.363636,14.0,1731.636364,...,1731.636364,10.636364,17341.181818,5810.636364,559.363636,1731.636364,10.636364,17341.181818,5810.636364,559.363636
54,2018,11,Los Angeles,1601.181818,10.454545,15874.545455,5842.545455,658.545455,14.0,1601.181818,...,1601.181818,10.454545,15874.545455,5842.545455,658.545455,1601.181818,10.454545,15874.545455,5842.545455,658.545455
55,2018,12,Atlanta,2246.285714,8.571429,20026.928571,6748.714286,1670.571429,14.0,2246.285714,...,2246.285714,8.571429,20026.928571,6748.714286,1670.571429,2246.285714,8.571429,20026.928571,6748.714286,1670.571429
56,2018,12,Chicago,2126.153846,22.230769,25809.846154,8168.846154,915.000000,14.0,2126.153846,...,2126.153846,22.230769,25809.846154,8168.846154,915.000000,2126.153846,22.230769,25809.846154,8168.846154,915.000000
57,2018,12,Dallas,1763.923077,54.000000,24727.461538,7221.000000,1702.615385,14.0,1763.923077,...,1763.923077,54.000000,24727.461538,7221.000000,1702.615385,1763.923077,54.000000,24727.461538,7221.000000,1702.615385
58,2018,12,Denver,1577.250000,8.666667,14623.583333,5432.000000,512.583333,14.0,1577.250000,...,1577.250000,8.666667,14623.583333,5432.000000,512.583333,1577.250000,8.666667,14623.583333,5432.000000,512.583333
59,2018,12,Los Angeles,1669.090909,12.545455,17297.727273,5874.727273,624.272727,14.0,1669.090909,...,1669.090909,12.545455,17297.727273,5874.727273,624.272727,1669.090909,12.545455,17297.727273,5874.727273,624.272727

In [42]:
final_df.to_csv('Resources/final_df.csv',index=False)

In [43]:
year.to_csv('Resources/year.csv',index=False)